.pdf-to-powerpoint {
  padding: 20px;
}
.pdf-to-powerpoint-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:50px;
  .main-box {
    display: flex;
    gap: 20px;
    .pdf-left {
      width: 50%;
      border: 2px dashed gray;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
    }
  }
}
