.merge-parent {
  padding: 50px 0;
  .merge-cont {
    text-align: center;
    .heading {
      font-size: 36px;
      margin-bottom: 10px;
    }
    .desc {
      font-size: 18px;
      margin-bottom: 40px;
      text-align: center;
    }
    .left-merge-box {
      display: flex;
      justify-content: space-between;
      //   align-items: center;
      .upload-merge-box {
        width: 48%;
        padding: 20px;
        border: 2px dashed #ccc;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .upload-heading {
          font-size: 24px;
          margin-bottom: 10px;
        }
        .upload-item {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;
          gap: 10px;
          svg {
            color: green;
            font-size: 20px;
          }
          label {
            text-align: left;
            margin-right: 10px;
          }
        }
        .upload-btn {
          padding: 10px 20px;
          font-size: 16px;
          cursor: pointer;
        }
      }
      .right-merge-box {
        width: 48%;
        padding: 20px;
        border: 2px solid #ccc;
        .right-heading {
          font-size: 24px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
