.word-pdf-parent {
  padding: 20px;
  .word-pdf-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .main-box {
      display: flex;
      gap: 20px;
      .word-left {
        width: 50%;
        border: 2px dashed gray;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
      }
      .word-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}
