.home-parent {
  .home-cont {
    padding: 200px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    .heading {
      font-size: 48px;
      font-weight: 700;
      text-align: center;
    }
    .main-card {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      .card {
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #ddd;
        width: 280px;
        transition: var(--trans);

       

        .icon {
          img {
            width: 100px;
            height: 100px;
            object-fit: contain;
          }
        }
        .card-heading {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 10px;
          
        }
        .card-desc {
          font-size: 16px;
          color: #666;
          text-align:left;  
        }
         &:hover {
          box-shadow: var(--shadow);
          .icon{
            img {
              transform: scale(1.1);  
            }
          }
        }
      }
    }
  }
}
